<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href = "/style.css">
</head>
<body>


<h1> Welcome to [[${userProfile.username}]]'s page!</h1>
<a href="/directory">directory</a>
<a href="/">Log Out</a>
<h3>[[${userProfile.username}]]'s Followers</h3>


<h3>[[${userProfile.username}]]'s Posts</h3>
<ul>
    <li th:each="post: ${userProfile.post}" >
        <p>[[${post.body}]]</p>
    </li>
</ul>



<form action="/userFollow" method="POST">

    <input type="hidden" name="userFollowUsername" th:value="${userProfile.username}">

    <input type="submit" value = "FOLLOW">
</form>


</body>
</html>