<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href = "/style.css">
</head>
<body>


<h1> Welcome to [[${user.username}]]'s page!</h1>
<a href="/directory">directory</a>
<a href="/">Log Out</a>
<a href="/newsfeed">News Feed</a>

<!-- TA helped me set up the th:block -->
<h3>Users Followed</h3>
<th:block th:each="users: ${user.followedUsers}">
    [[${users.username}]]

</th:block>
<h3>[[${user.username}]]'s Posts</h3>

<ul>
    <li th:each="post: ${user.post}" >
        <p>[[${post.body}]]</p>
    </li>
</ul>


<form action="/detailPage" method="POST">
<input type="hidden" th:value="${user.username}" name="username">

Whats on your mind? Post Here: <input type = "text" name="body">
 <input type="submit">

</form>


</body>
</html>